<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Bootstrap core JavaScript-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Page level plugin JavaScript--><script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

</head>
<body>


  


        <h1 align="center">List of Records</h1>
        <%- include('common/nav') %> 

        <br><br>
        <div class="container">
              <div class="row">
                  <div class="col-sm-8 offset-sm-2">
                    <table  class="table table-primary" id="ram">
                        <thead>
                            <tr>
                                <th>SNO</th>
                                <th>Name</th>
                                <th>Adhar Card</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
            
                        <tbody>
                              <% 
                              record.forEach(function(row)
                              { %>
                                       <tr>
                                               <td> <%=row.id%>    </td>
                                               <td> <%=row.name%>    </td>
                                               <td> <%=row.Adharcard%>    </td>
                                               <td> <%=row.address%>    </td>
                                               <td>
                                                <a href="/delete_record?hm_id=<%=row.id%>" class="btn btn-danger" onclick="return confirm('Are You Sure?')">Delete</a>
                                                <a href="#" onclick="Human_Update_Field('<%=row.id%>','<%=row.name%>','<%=row.Adharcard%>','<%=row.address%>')" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myupdatemodal">Update</a>
                                                </td>
                                       </tr>
                              <%})
            
                              %>
                        </tbody>
            
                    </table>
            
                  </div>
              </div>
        </div>

              <!-- Modal -->
              <div class="modal fade" id="myupdatemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title fs-5" id="exampleModalLabel">Human Manage Record</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <div class="modal-body">
                         <form action="/update_human_record" method="post">
                            <div class="md-3">
                               <label>Id</label>
                               <input type="text" name="id" required readonly id="id" class="form-control">
                            </div>
                            <div class="md-3">
                                <label>Name</label>
                                <input type="text" name="name"   id="name" class="form-control">
                             </div>
                             <div class="md-3">
                                <label>Adhar Card</label>
                                <input type="text" name="adhrcard"   id="adhacrcard" class="form-control">
                             </div>
                             <div class="md-3">
                                <label>Address</label>
                                <textarea name="address"   id="address" class="form-control"></textarea>
                             </div>
                             <div class="md-3">
                                    <button class="btn btn-primary mt-4">Update Now</button>
                             </div>
                         </form>
                    </div>
            
                  </div>
                </div>
              </div>
                    
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


        <script>
              $(document).ready(()=>
            {
                $("#ram").dataTable()
            })


               function Human_Update_Field(id,name,adhr,adr)
               {
                     document.getElementById("id").value=id;
                     document.getElementById("name").value=name;
                     
                     document.getElementById("adhacrcard").value=adhr;
                     document.getElementById("address").value=adr;
               }
        </script>
</body>
</html>